[buildout]
parts =  
    instance
    zopepy
    omelette
    nodejs

extends = 
    http://dist.plone.org/release/4.2-latest/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://eggs.mooball.net
    http://dist.plone.org/release/4.2-latest/
    http://dist.plone.org/thirdparty

extensions =
    buildout.dumppickedversions

sources = sources
eggs =
    nuw.types
    Products.PloneFormGen
    mooball.video
    collective.portletpage
    mooball.portlets.html
    plone.portlet.static
    Products.PloneKeywordManager
    zettwerk.fullcalendar

versions = versions
develop =
sqlalchemy.url = driver://user:password@host/database

[versions]
plone.app.jquery=1.7.2

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = ${buildout:directory}/var/blobstorage

eggs =
    Pillow
    Plone
    ${buildout:eggs}

zcml =
zcml-additional = <configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:db="http://namespaces.zope.org/db">

    <include package="z3c.saconfig" file="meta.zcml" />
    <db:engine name="db" url="${buildout:sqlalchemy.url}" />
    <db:session name="nuw.types" engine="db" />
    <db:session name="nuw.types.auth" engine="db" />

    </configure>

products =
    ${buildout:directory}/products


# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build 
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[nodejs]
recipe = gp.recipe.node
url = http://nodejs.org/dist/v0.6.14/node-v0.6.14.tar.gz
npms = less
scripts = lessc
